.login-container {
    background-color: #fff;
    color: $primary-dark;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;

    form {
        padding: 15px;
    }
}
